<div class="home__container">
    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 59,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 59,99"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 100,00"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 150,00"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 200,00"
    >
    </app-card>
    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Digital"
    gameType="Digital | PS4 | XBOX ONE"
    gamePrice="R$ 70,00"
    >
    </app-card>
    
</div>

